<h1>Editing Transaction</h1>

<%= render 'form', transaction: @transaction %>
<%= link_to ' <i class="fas fa-arrow-left"></i> Back'.html_safe, transactions_path, class:"text-white bg-dark px-2 py-1" %>
