
<h4 class="text-center mt-5">New Transaction</h4>

<%= render 'form', transaction: @transaction %>

<%= link_to "Create group", new_group_path, class:"text-white bg-success px-2 py-1" %>

<%= link_to ' <i class="fas fa-arrow-left"></i> Back'.html_safe, transactions_path, class:"text-white bg-dark px-2 py-1" %>
